h1{
color: rgb(0, 255, 255);
}

.header{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
}

.menu{
    background-color: slategrey;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p, h2{
    text-align: center;
    color:rgb(255, 0, 234);
}

.footer{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #000dff;
}